* {
  background: mistyrose;
  padding: 5px;
}

input {
  box-shadow: 0 0 2px rgb(102, 102, 102);
}

button {
  padding: 5px;
  border: 1px solid black;
  background-color: rgb(198, 161, 157);
  margin: 5px;
  box-shadow: 0 0 2px rgb(102, 102, 102);
}